Repository Hasnep/cv: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-format, markdown-check, yaml-format, toml-format, nix-format, github-workflows-check, github-workflows-check-pinned

markdown-format:
  name: Format markdown files
  language: system
  entry: mdformat

markdown-check:
  name: Check markdown files
  language: system
  entry: markdownlint-cli2
  args:
  - --config
  - .markdownlint.json

yaml-format:
  name: Format YAML files
  language: system
  entry: prettier
  args:
  - --write

toml-format:
  name: Format TOML files
  language: system
  entry: taplo
  args:
  - format

nix-format:
  name: Format Nix files
  language: system
  entry: nixfmt

github-workflows-check:
  name: Validate GitHub Actions workflow files
  language: system
  entry: actionlint

github-workflows-check-pinned:
  name: Check GitHub Actions are pinned
  language: system
  entry: ratchet check

Allow LaTeX output to span across two pages
  src/template.tex
Due: none

Add sentence about secrets management
  src/cv-johannes-smit.md
Due: markdown-format, markdown-check

Add more information to Mobagel section
  src/cv-johannes-smit.md
Due: markdown-format, markdown-check

Fix typo
  src/cv-johannes-smit.md
Due: markdown-format, markdown-check

Add sentence about property based testing
  src/cv-johannes-smit.md
Due: markdown-format, markdown-check

Upgrade flake inputs
  .markdownlint.json
  flake.lock
  flake.nix
Due: nix-format

Replace markdown linters with rumdl
  .markdownlint.json
  .mdformat.toml
  .pre-commit-config.yaml
  .rumdl.toml
  flake.nix
Due: yaml-format, toml-format, nix-format

Add keep-sorted
  .pre-commit-config.yaml
  flake.nix
Due: yaml-format, nix-format

Replace nixfmt-rfc-style with nixfmt-tree
  flake.nix
Due: nix-format

Add tex-fmt
  .pre-commit-config.yaml
  flake.nix
  src/template.tex
Due: yaml-format, nix-format

Remove x86_64-darwin
  flake.nix
Due: nix-format

Fix job ID
  .github/workflows/run-pre-commit.yaml
Due: yaml-format, github-workflows-check, github-workflows-check-pinned

Remove format recipe
  Justfile
Due: none

Add clean recipe
  Justfile
Due: none

Add justfile formatter to pre-commit config
  .pre-commit-config.yaml
Due: yaml-format

Add Typst template
  .gitignore
  Justfile
  src/template.typst
Due: none

Add Typstyle
  .pre-commit-config.yaml
  flake.nix
Due: yaml-format, nix-format

Add build workflow
  .github/workflows/build.yaml
Due: yaml-format, github-workflows-check, github-workflows-check-pinned

Fix txt output
  Justfile
Due: none

Add Nix packages
  .github/workflows/build.yaml
  .gitignore
  Justfile
  README.md
  flake.nix
Due: markdown-format, markdown-check, yaml-format, nix-format, github-workflows-check, github-workflows-check-pinned

Add Nix build to CI
  .github/workflows/build.yaml
Due: yaml-format, github-workflows-check, github-workflows-check-pinned

Upgrade Github Actions
  .github/workflows/build.yaml
  .github/workflows/run-pre-commit.yaml
Due: yaml-format, github-workflows-check, github-workflows-check-pinned

Extend sentence
  src/cv-johannes-smit.md
Due: markdown-format, markdown-check

Path conditions:
  markdown-format: any of: \.(md|markdown|mdown)$
  markdown-check: any of: \.(md|markdown|mdown)$
  yaml-format: any of: \.(yaml|yml)$
  toml-format: any of: \.toml$
  nix-format: any of: \.nix$
  github-workflows-check: any of: \.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  github-workflows-check-pinned: any of: \.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
